@import "./base.css";
@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: dark;
  background-color: var(--p-slate-950);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

/* GLOBAL START */

/* GRADIENT START */
.gradient {
  -webkit-animation: gradient 7s ease infinite; /* Apply the gradient animation */
  animation: gradient 7s ease infinite; /* Apply the gradient animation */
  background: -o-linear-gradient(
    135deg,
    var(--p-indigo-900),
    var(--p-rose-900)
  ); /* Fallback for older browsers */
  background: linear-gradient(
    -45deg,
    var(--p-indigo-900),
    var(--p-rose-900)
  ); /* Define the gradient */
  background-size: 400% 400%; /* Increase the background size to create the animation effect */
  -webkit-transition: all 0.5s ease; /* Smooth transition for other properties */
  -o-transition: all 0.5s ease; /* Smooth transition for other properties */
  transition: all 0.5s ease; /* Smooth transition for other properties */
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; /* Start position */
  }
  50% {
    background-position: 100% 50%; /* Midway position */
  }
  100% {
    background-position: 0% 50%; /* End position */
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%; /* Start position */
  }
  50% {
    background-position: 100% 50%; /* Midway position */
  }
  100% {
    background-position: 0% 50%; /* End position */
  }
}
/* GRADIENT END */

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* REVEAL START */
.reveal {
  opacity: 0;
  position: relative;
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  -webkit-transform: translateY(80px);
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.reveal.active {
  opacity: 1;
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
/* REVEAL END */

/* HR / SEPARATORS START */
hr {
  border: 0.1px solid;
  color: rgba(var(--white-color), 0.5);
  z-index: 3;
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
}
hr.quater {
  margin: var(--grid-gap-3) 0 !important;
}
hr:not(hr.semi) {
  margin: 60px 0;
}
.semi {
  margin: var(--grid-gap-3) 0;
  opacity: 0 !important;
}
/* HR / SEPARATORS END */

/* BROWSER SETTINGS START */
::-webkit-scrollbar {
  width: var(--grid-gap-1);
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--p-blue-500);
  border-radius: 0;
}
::-moz-selection {
  background: var(--p-blue-500);
}
::selection {
  background: var(--p-blue-500);
}
/* BROWSER SETTINGS END */

/* TEXT START */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--white-color));
  position: relative;
  line-height: normal;
}
h1 {
  font-size: var(--font-size-1);
}
h2 {
  font-size: var(--font-size-2);
}
h3 {
  font-size: var(--font-size-3);
}
h4 {
  font-size: var(--font-size-4);
}
h5 {
  font-size: var(--font-size-5);
}
h6 {
  font-size: var(--font-size-6);
}
p {
  font-size: var(--font-size-6);
}
h1:before,
h2:before {
  cursor: text;
}
main li,
main ol,
main ul,
p {
  color: rgb(var(--white-color));
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--font-size-6);
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-1);
  margin: var(--grid-gap-1) 0;
}
main ul {
  list-style-type: circle;
}
main ol {
  list-style-type: decimal;
}
main li {
  padding-top: 5px;
}

/* LINK START */
.nolink {
  text-decoration: none;
}
a,
a:hover {
  cursor: pointer !important;
  color: var(--p-blue-500);
}
p a:hover,
li a:hover {
  text-decoration: underline;
}

/* MEDIA QERRIES START */

@media only screen and (max-width: 1020px) {
  :root {
    --nav-bar-top-position: 50px;
    --homepage-padding: var(--grid-gap-2);
    --menu-padding: 0 var(--homepage-padding);
  }
  .wrapper-wide,
  .intro-section {
    padding-left: var(--homepage-padding);
    padding-right: var(--homepage-padding);
  }
}
/* MEDIA QERRIES END */
